In [24]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
model=LogisticRegression()
df = pd.read_csv('titanic.csv')
df.shape

(887, 7)

In [25]:
df.keys()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Siblings/Spouses',
       'Parents/Children', 'Fare'],
      dtype='object')

In [26]:
df['Male'] = df['Sex'] == 'male'

In [27]:
print(df)

     Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children  \
0           0       3    male  22.0                 1                 0
1           1       1  female  38.0                 1                 0
2           1       3  female  26.0                 0                 0
3           1       1  female  35.0                 1                 0
4           0       3    male  35.0                 0                 0
5           0       3    male  27.0                 0                 0
6           0       1    male  54.0                 0                 0
7           0       3    male   2.0                 3                 1
8           1       3  female  27.0                 0                 2
9           1       2  female  14.0                 1                 0
10          1       3  female   4.0                 1                 1
11          1       1  female  58.0                 0                 0
12          0       3    male  20.0                 0                 0
13          0       3    male  39.0                 1                 5
14          0       3  female  14.0                 0                 0
15          1       2  female  55.0                 0                 0
16          0       3    male   2.0                 4                 1
17          1       2    male  23.0                 0                 0
18          0       3  female  31.0                 1                 0
19          1       3  female  22.0                 0                 0
20          0       2    male  35.0                 0                 0
21          1       2    male  34.0                 0                 0
22          1       3  female  15.0                 0                 0
23          1       1    male  28.0                 0                 0
24          0       3  female   8.0                 3                 1
25          1       3  female  38.0                 1                 5
26          0       3    male  26.0                 0                 0
27          0       1    male  19.0                 3                 2
28          1       3  female  24.0                 0                 0
29          0       3    male  23.0                 0                 0
..        ...     ...     ...   ...               ...               ...
857         0       2    male  21.0                 1                 0
858         1       1  female  48.0                 0                 0
859         0       3  female  14.0                 8                 2
860         0       2    male  24.0                 0                 0
861         1       2  female  42.0                 0                 0
862         1       2  female  27.0                 1                 0
863         0       1    male  31.0                 0                 0
864         0       3    male  23.0                 0                 0
865         1       3    male   4.0                 1                 1
866         0       3    male  26.0                 0                 0
867         1       1  female  47.0                 1                 1
868         0       1    male  33.0                 0                 0
869         0       3    male  47.0                 0                 0
870         1       2  female  28.0                 1                 0
871         1       3  female  15.0                 0                 0
872         0       3    male  20.0                 0                 0
873         0       3    male  19.0                 0                 0
874         0       3    male  23.0                 0                 0
875         1       1  female  56.0                 0                 1
876         1       2  female  25.0                 0                 1
877         0       3    male  33.0                 0                 0
878         0       3  female  22.0                 0                 0
879         0       2    male  28.0                 0                 0
880         0       3    male  25.0                 0                 0
881         0       3  female  39.0                 0                 5
882         0       2    male  27.0                 0                 0
883         1       1  female  19.0                 0                 0
884         0       3  female   7.0                 1                 2
885         1       1    male  26.0                 0                 0
886         0       3    male  32.0                 0                 0

         Fare   Male
0      7.2500   True
1     71.2833  False
2      7.9250  False
3     53.1000  False
4      8.0500   True
5      8.4583   True
6     51.8625   True
7     21.0750   True
8     11.1333  False
9     30.0708  False
10    16.7000  False
11    26.5500  False
12     8.0500   True
13    31.2750   True
14     7.8542  False
15    16.0000  False
16    29.1250   True
17    13.0000   True
18    18.0000  False
19     7.2250  False
20    26.0000   True
21    13.0000   True
22     8.0292  False
23    35.5000   True
24    21.0750  False
25    31.3875  False
26     7.2250   True
27   263.0000   True
28     7.8792  False
29     7.8958   True
..        ...    ...
857   11.5000   True
858   25.9292  False
859   69.5500  False
860   13.0000   True
861   13.0000  False
862   13.8583  False
863   50.4958   True
864    9.5000   True
865   11.1333   True
866    7.8958   True
867   52.5542  False
868    5.0000   True
869    9.0000   True
870   24.0000  False
871    7.2250  False
872    9.8458   True
873    7.8958   True
874    7.8958   True
875   83.1583  False
876   26.0000  False
877    7.8958   True
878   10.5167  False
879   10.5000   True
880    7.0500   True
881   29.1250  False
882   13.0000   True
883   30.0000  False
884   23.4500  False
885   30.0000   True
886    7.7500   True

[887 rows x 8 columns]

In [28]:
X = df[['Pclass','Male', 'Age','Siblings/Spouses','Parents/Children','Fare']].values

In [29]:
y = df['Survived']

In [30]:
model.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [31]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [32]:
print('whole dataset',X.shape,y.shape)
print('training set', X_train.shape, y_train.shape)
print('test set', X_test.shape,y_test.shape)

whole dataset (887, 6) (887,)
training set (665, 6) (665,)
test set (222, 6) (222,)

In [33]:
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [35]:
print(model.score(X_test, y_test))

0.8063063063063063