In [23]:
import pandas as pd    
import numpy as np
df = pd.read_csv('titanic.csv')  #import CSV file i.e titanic.csv

In [24]:
df.keys()  #display column names

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Siblings/Spouses',
       'Parents/Children', 'Fare'],
      dtype='object')

In [25]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses,Parents/Children,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

In [26]:
df['Male']= df['Sex'] == 'male' #Change male/female to True/false

In [27]:
X = df[['Pclass','Male','Age','Siblings/Spouses','Parents/Children','Fare']].values

In [28]:
y = df['Survived'].values #converting to array

In [29]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
print(model.predict(X[:5]))

[0 1 1 1 0]

In [31]:
print(y[:5])

[0 1 1 1 0]

In [34]:
model.score(X,y)  # print((y==y.pred).sum()/y.shape[0])

0.8038331454340474